html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: Georgia, serif;
}

body {
  margin: 0;
}

.img-flex {
  max-width: 100%;
}

.banner-content {
  background-color: #495562;
  color: #fff;
}

.btn {
  border-color: #97a49b;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .btn-right {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    position: relative;
    max-height: 500px;
  }

  .banner-content {
    position: absolute;
    bottom: 10%;
  }

  .banner-content {
    background-color: transparent;
  }

  .btn {
    border-color: #fff;
  }

}
